.product-wrapper{
    width:100%;
    height:326px;
    border:4px solid #3CFF03;
    font-weight:600;
    .header{
        margin:30px 0 24px 54px;
        text-align: left;
        font-weight:bold;
        font-size:28px;
        color: #F2AC21;
    }
    .detail-menu{        
        margin-left:136px; 
        white-space:nowrap;    
        overflow:hidden;  
        .left-button,.left-button-transparent{
            color:#5E5B58;
            font-size:16px;
            
            white-space:normal; 
            text-align:center;
            padding:30px 0;
            overflow: hidden;
            height:128px;
            width:128px;
            background-color: #3CFF03;
            border:2px solid #F2AC21;
            border-radius:50%;
            display:inline-block

        }   
        .left-button-transparent{
           visibility:hidden
        }
        .product-image{
            vertical-align:top;
            width:240px;
            height:134px;
            object-fit:contain;
            margin-left:35px
        }
        .details{
            vertical-align:top;
            display:inline-block;
            margin-left:35px;
            max-height:228px;
            width:calc(100% - 684px);
            overflow:hidden;
            .images{
                .selected-image{
                    height:88px;
                    width:88px;
                    object-fit: contain;
                    margin:0 12px
                }
            }
            .text{
                white-space: normal
            }
        }
        .ordering{
            vertical-align:top;
            display:inline-block;
            margin-left:35px;
            max-height:228px;
            
            .order-button{
                padding-top:42px;
                font-size:16px;
                width:128px;
                height:128px;
                background-color:#3CFF03;
                border:2px solid #F2AC21;
                color:#5E5B58; 
                border-radius:50%;
                margin:auto;
                text-align:center;
                span{
                    display:block;
                    font-size:24px;
                    font-weight:500
                }
            }
            .cancel-button{
                padding-top:20px;
                font-size:16px;
                width:64px;
                height:64px;
                background-color:#FFFE03;
                border:2px solid #5E5B58;    
                color:#5E5B58;            
                border-radius:50%;
                margin:16px auto 0;
                text-align:center
            }
        }

             
    }
}
.specials::-webkit-scrollbar {display:none !important }