<div class="product-wrapper">
    <div class="header">{{product.title}}</div>
    <div class="detail-menu">
        <div class="left-button" *ngIf="type!=='combo'">
            <div>Quick Order</div>
            <div>No Changes</div>
            <div style="font-size:24px">$ {{quickProd.price}}</div>
        </div>
        <div class="left-button-transparent" *ngIf="type==='combo'"></div>
        <img [src]="imgUrl+product.image" alt="" class="product-image" >
        <div class="details" *ngIf="type==='combo'">
            <div class="images" >
                <span *ngFor='let menu of product.menus' >                    
                    <img [src]="imgUrl+menu?.default.image" alt="" class='selected-image' > 
                </span>                
            </div>            
            <div class="text">
                <span *ngFor='let menu of product.menus'>
                    <span *ngIf="menu.dafault&&menu.default.length">
                        {{menu.default[0]?.title}}<span *ngIf="menu.configurable&&menu.default[0].defaults.length">
                            (<span *ngFor='let default of menu.default[0].defaults'>{{default.title}}<span *ngIf="default.selected_qty">(X {{default.selected_qty}})</span>,
                            </span>)</span><span *ngIf="menu.default[0].sizable">({{menu.default[0].size.title}})</span>,
                    </span>
                </span>
            </div>
        </div>
        <div class="details" *ngIf="type!=='combo'">
                <div class="images" >
                    <span *ngFor='let selected of product.defaults' >                    
                        <img [src]="imgUrl+selected?.image" alt="" class='selected-image' > 
                    </span>                
                </div>            
                <div class="text">
                    Our {{product.title}} starts with
                    <span *ngFor='let selected of product.defaults'>{{selected.title}}<span *ngIf="selected.selected_qty">(x{{selected.selected_qty}})</span>, </span>
                </div>
            </div>
        <div class="ordering">
            <div class="order-button" *ngIf="type!=='prod-customize'">Quick order <span>$ {{product.price}}</span></div>
            <div class="order-button" *ngIf="type=='prod-customize'" (click)="next()">next</div>
            <div class="cancel-button" (click)="cancel()">Cancel</div>
        </div>
    </div>
</div>