<div class="detail-wrapper">
    <div class="header">
        <div class="col1">Menu</div>
        <div  class="col2">Select Your Product</div>
    </div>
    <div class="menu-list">
        <div class="menu" *ngFor='let m of menu'>
            <div class="menu-title">{{m.title}}</div>
            <div class="products" *ngIf="mId!==m._id">
                <div class="prod" *ngFor='let prod of m.products' (click)="continue(prod, m._id)">
                    <img [src]="prod.image?imgUrl+prod.image:imgUrl+'no-image.png'" alt="" class="product-image" >
                    <div class="prod-title">{{prod.title}}</div>
                    <div class="prod-price">$ {{prod.price}}</div>
                </div>
            </div>
            <div class="products" *ngIf="mId===m._id">
                    <div class="prod" *ngFor='let size of selectedProd.sizes' (click)="order(size)">
                        <img [src]="imgUrl+selectedProd.image" alt="" class="product-image" >
                        <span [class]="size.selected?'selected':''">
                            <div class="prod-title">{{size.title}}</div>
                            <div class="prod-price">$ {{size.price}}</div>
                        </span>
                        
                    </div>
                </div>

        </div>
        
    </div>
    
</div>
