.cash-wrapper{
    font-weight:600;
    font-family: roboto;
    font-style: normal;
    position:relative;
    background-color:#FFFFFF;
    height:314px;
    box-shadow: 0px 3px 15px #FFFFFF33;
    width:1200px;
    top:268px;
    margin:auto;
    padding:24px;
    border-radius:8px;
    .left-container{
        display:inline-block; 
        .title{
            margin:50px auto 110px;
            text-align: center;
            font-size:24px;
            color:#5E5B58;
        }
        .total-amount{
            display:inline-block;
            color:#5E5B58;
            border-right:1px solid #9B9B9B;
            padding:5.5px 24px;
            margin-left:489px;
            font-size: 16px;
            width:200px;
            margin-right:24px;
        }
        .insert-amount{
            width: 120px;
            height: 44px;
            font-size: 18px;
            text-align:center;
            border:1px solid #9B9B9B;
            outline:0
        }
        .finish-button{
            display:inline-block;
            background: #F2AC21 ;
            font-size: 16px;
            border:0;
            box-shadow: 0px 3px 15px #00000012;
            border-radius: 100px;
            width: 150px;
            height: 44px;
            text-align:center;
            color:white;
            outline:0;
        }
    }  
}