<div class="cash-wrapper">
    <div class="left-container">
        <div class="title">
            Thank You, you paid $ {{inserted}} $ {{inserted-total}} change wil l come with your order. Please collect your receipt below.
        </div> 
        <div style="color: #5E5B58;">
            <button class="finish-button" (click)="finish()">Finished</button>
            <div class="total-amount">Total amount: $ {{total}}</div>
            <span>Inserted amount </span> <input type="text" placeholder="$ 0.00" readonly class="insert-amount" [value]="'$ '+inserted">
        </div>        
    </div> 
</div>
