
<div class="login-wrapper" appClickStopPropagation>
  <toaster-container></toaster-container>

<div class="login-form">
  <h1 class="header">Sign In</h1>
  <input type="text" placeholder="Email" class="frm-input"  (click)="selectInp('username')"
  appClickStopPropagation
  [ngClass]='selectedInput=="username"?"focused":""'
        name="username" [(ngModel)]="user.userName"
  >
  <input type="password" placeholder="Password" class="frm-input"
   appClickStopPropagation  (click)="selectInp('password')"
        [ngClass]='selectedInput=="password"?"focused":""' name="password"
         [(ngModel)]="user.password"
  >
  <div class="enter-bttn" (click)="login()">
    <img class="btn-img" src="usr_kiosk/assets/images/gun.svg" alt="">
    <button>Enter</button>
  </div>
  <div class="keyboard" [style.display]="keyboard?'block':'none'" appClickStopPropagation>
    <div class="simple-keyboard"></div>
  </div>

</div>
</div>

<!-- <form action="" class="auth-form " [ngClass]='selectedInput!=""?"focused":""' >
       <h2 style="text-align:center; font-size: 26px;">Sign In</h2>
       <input type="text"  placeholder="Username/Email"
        appClickStopPropagation readonly
        (click)="selectInp('username')" [ngClass]='selectedInput=="username"?"focused":""'
        name="username" [(ngModel)]="user.userName">
       <input type="password" placeholder="password"
        appClickStopPropagation readonly (click)="selectInp('password')"
        [ngClass]='selectedInput=="password"?"focused":""' name="password"
         [(ngModel)]="user.password">
       <button (click)="login()">Log In</button>
       <div class="keyboard" appClickStopPropagation>
        <div class="simple-keyboard"></div>
      </div>

   </form>-->
