
.wrapper{
    font-weight:600;
    font-family: roboto;
    font-style: normal;
    position:fixed;
    z-index: 5;
    right:0;
    width:400px;
    height:100%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    .logo{
       width: 340px;
       height: 180px;
       object-fit: contain;
       margin:30px auto
    }
    .pay-head{
        margin:0 30px;
        color:#F2AC21;
        font-size: 24px;
        border-bottom:1px solid #5E5B58;
        text-align: center;
        padding:8px 0 16px 0;

    }
    
    .back-bttn{
        position:absolute;
        bottom:30px;
        font-size: 20px;
        padding:10.5px 0;
        border:0;
        left:30px;
        background-color: transparent;
        border-radius: 200px;
        width:90px
        
    }  
    .payment-wrapper{  
        border:1px solid #F2AC21;  
        margin:10px auto;
        width:340px;
        padding:10px;
        border-radius:8px;
        .product-detail{
            padding:0 6px;
            max-height:170px;
            border-bottom:1px solid #D8D8D8;
            overflow-y:auto;
            overflow-x:hidden;
         
            .ordered-product{
                font-family: roboto;
                    font-weight:600 ; 
                    font-size:16px;  
                    color:#5E5B58;
                    margin-bottom:8px;            
                    
                    &-detail{
                        display:flex;
                        justify-content: space-between;
                        .detail-menu{
                            width:231px;
                           
                            font-weight:600 ; 
                            font-size:16px;  
                            color:#5E5B58;
                            .content{
                               width:150px; 
                               overflow:hidden ;
                               width:231px; 
                               overflow:hidden;
                               display: flex;
                               justify-content: space-between;
                              
                               .quant-control{
                                   display:flex;
                                   width:72px;
                                   height:24px;
                                   .minus{    
                                    font-size: 16px;                                   
                                    overflow:hidden; 
                                    width:24px;
                                    text-align:center;
                                    i{
                                        display:inline;
                                        font-weight:400;
                                        line-height:1.3;
                                        
                                    }
                                 }
                                 .prod-quant{  
                                     text-align:center;
                                     font-size:16px;
                                     color:#F2AC21; 
                                     overflow:hidden;                               
                                     width:24px;
                                     line-height:1.4;
                                 }
                                 .plus{ 
                                     overflow:hidden;   
                                     width:24px;
                                     text-align:center;
                                     i{
                                        display:inline;
                                        font-weight:400;
                                        line-height:1.3;
                                    }
                                 }
                               }
                            }
                            :nth-child(2){
                                font-size:12px;  
                            }
                        }
                        :nth-child(2){
                            font-weight:600 ; 
                            font-family: roboto;
                            font-size:16px;  
                            color:#5E5B58;
            
                        }
                    }
            }
        }
        .payment-detail{
            border-bottom:1px solid #D8D8D8;
            .total, .tax{
                display:flex;
                justify-content:space-between;
                margin:8px 0;
                div{
                    font-family: roboto;
                    font-weight:600 ; 
                    font-size:16px;  
                    color:#5E5B58;
                    margin-bottom:8px;           
                }
            }
        }
        .final-pay-container{
            display:flex;
            justify-content:space-between;
            margin:16px 0 60px 0;

            :nth-child(1){
                font-family: roboto;
                font-weight:600 ; 
                font-size:16px;  
                color:#5E5B58                
            }
            :nth-child(2){
                font-weight:600 ; 
                font-family: roboto;
                font-size:16px;  
                color:#F2AC21;

            }
        }
        .button-container{
            display:flex;
            justify-content:space-between;
            
            .cancel{
                padding-top:0px;
                font-size:16px;
                width:64px;
                height:64px;
                background-color:#FFFE03;
                border:2px solid #5E5B58;    
                color:#5E5B58;            
                border-radius:50%;
                margin:16px auto 0;
                text-align:center;             
                &:focus{
                    outline:0;                    
                }

            }
            .pay{
                padding-top:0px;
                font-size:20px;
                width:100px;
                height:100px;
                background-color:#3CFF03;
                border:2px solid #F2AC21;
                color:#5E5B58; 
                border-radius:50%;
                margin:auto;
                text-align:center;
                span{
                    display:block;
                    font-size:20px;
                    font-weight:500
                }
                &:focus{
                    outline:0;                    
                }
            }
        }

    }
    
    .product-detail::-webkit-scrollbar { width: 3px}
    .product-detail::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      .product-detail::-webkit-scrollbar-thumb {
        background: #F2AC21;
      }
      
      /* Handle on hover */
      .product-detail::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}