<div (click)="resetTimer()">
    <div class="inquire" *ngIf="checkUrl('products')">
        <img class="inq-img" src="usr_kiosk/assets/images/gun.svg" alt="">
        <img src="usr_kiosk/assets/images/button-inq.svg" alt="" class="inq-btn">
    </div>
    <img [src]="imgUrl+'Outlaw.svg'" class="logo" alt="" srcset="" >  
    <div class="order_detail_wrapper" *ngIf="checkUrl('products')">
        <div class="custom_orders">
            <div style="font-weight: bold; font-size: 18px; margin-bottom: 10px;">Order details</div>
            <div class="order" *ngFor="let co of getCustomOrders(orders)">
                <div *ngIf="co.sizes[0].qty">
                    <div class="selected_order">
                        <div style="width: 25px; text-align: center;">{{co.sizes[0].qty}}</div>
                        <div  style="width: 10px; text-align: center;">{{co.sizes[0].title.split("")[0]}}</div>  
                        <div style="width: 180px; text-align: left;overflow: hidden; text-overflow: ellipsis;height: 19px;">{{co.title}}</div> 
                        <div style="width: 65px; text-align:center;"><b  >${{co.sizes[0].price}}</b></div>
                    </div>
                    <div style="width: 90%; text-align: left;overflow: hidden; text-overflow: ellipsis; margin:auto "><ng-container *ngFor="let ingr of co.selectedIngrs">{{ingr.title}}, </ng-container></div>
                   
                </div>
                <div *ngIf="co.sizes[1].qty">
                    <div class="selected_order">
                        <div style="width: 25px; text-align: center;">{{co.sizes[1].qty}}</div>
                        <div  style="width: 10px; text-align: center;">{{co.sizes[1].title.split("")[0]}}</div>  
                        <div style="width: 180px; text-align: left;overflow: hidden; text-overflow: ellipsis;height: 19px;">{{co.title}}</div> 
                        <div style="width: 65px; text-align:center;"><b  >${{co.sizes[1].price}}</b></div>
                    </div>
                    <div style="width: 90%px; text-align: left;overflow: hidden; text-overflow: ellipsis; margin:auto "><ng-container *ngFor="let ingr of co.selectedIngrs">{{ingr.title}}, </ng-container></div>
                </div>
            </div>
        </div>
        <div class="other_orders">
            <div class="orders">
                <div class="order" *ngFor="let o of getOrders(orders)">
                    <div *ngIf="o.sizes[0].qty">
                        <div style="width: 19px; text-align: center;"><b>{{o.sizes[0].qty}}</b> </div>
                        <span  style="width: 9px; text-align: center;">{{o.sizes[0].title.split("")[0]}}</span>  
                        <span style="width: 145px; text-align: center;overflow: hidden; text-overflow: ellipsis;height: 19px;">{{o.title}}</span> 
                        <b  style="width: 60px; text-align:center;">${{o.sizes[0].price}}</b>
                    </div>
                    <div *ngIf="o.sizes[1].qty">
                        <div style="width: 19px; text-align: center;"><b>{{o.sizes[1].qty}}</b> </div>
                        <span style="width: 9px; text-align: center; ">{{o.sizes[1].title.split("")[0]}}</span>  
                        <span style="width: 145px; text-align: center; overflow: hidden;text-overflow: ellipsis;height: 19px;">{{o.title}}</span> 
                        <b style="width: 60px; text-align: center;">${{o.sizes[1].price}}</b>
                    </div>
                </div>
            </div>
            <div class="payment">
                <div>
                    <div>Amount of Order</div>
                    <div>${{orders.length?getSubTotal(orders):0}}</div>
                </div>
                <div>
                    <div>Tax</div>
                    <div>${{orders.length?getTax(getSubTotal(orders),tax):0}}</div>
                </div>
                <div>
                    <div>Total</div>
                    <div>${{orders.length?getTotal(getSubTotal(orders),tax):0}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions" *ngIf="checkUrl('products')">
        <div class="order_button"  (click)="makeOrder()">
            <img class="inq-img" src="usr_kiosk/assets/images/gun.svg" alt="">
            <button>Pay & Order</button>
        </div>
        <div class="cancel_button" (click)="cancelAll()" >
            <img class="inq-img" src="usr_kiosk/assets/images/gun.svg" alt="">
            <button>Cancel</button>
        </div>
        
    </div>
    <!--<app-destruct></app-destruct>-->
    
    
    <router-outlet></router-outlet>
    
    
</div>
