.logo{
    width: 355px;
    height: 224px;
    object-fit: fill;
    overflow: hidden;
    position: absolute;
    z-index: 50;
    top:0px;
    right:0px;   
}
.inquire{
    position: absolute;
    z-index: 10; 
    top:0px;
    right:379px;
    width: 265px;
    height: 195px;
    .inq-img{
        position: absolute;
        width: 105px;
        height: 102px;
        object-fit: cover;
        left:50%;
        transform: translate(-61%,61%);
        z-index:10
    }
    .inq-btn{
        width: 265px;
        height: 64px;
        object-fit: cover;
        position: absolute;
        left:0;
        bottom: 0;
    }
}
.ingr-buttons{
    position: absolute;
    height: 150px;
    width:200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 10;
    top:10px;
    right:300px;
    .back-bttn{        
        font-size: 20px;
        padding:10.5px 0;
        border:0;        
        background-color: transparent;
        border-radius: 200px;
        width:90px
        
    }  
    .cancel{
        font-size:14px;
        width:70px;
        height:70px;
        background-color:#FFFE03;
        border:2px solid #5E5B58;    
        color:#5E5B58;            
        border-radius:50%;
        margin:auto;
        text-align:center;             
        &:focus{
            outline:0;                    
        }

    }
}


.order_detail_wrapper{
    z-index: 10;
    position: absolute;
    right: 2px;
    top:224px;
    background-color: white;
    width: 580px;
    height: 496px;
    box-shadow: 2px 2px 3px #000000;
    border: 1px solid #F2AC21;
    padding:5px;

    .custom_orders{
        display: inline-block;
        height: 100%;
        border: 1px solid #F2AC21;
        width:318px;
        margin-right: 5px;
        padding: 4px 11px;
       .order{
        .selected_order{
            display: flex;
            justify-content: space-between;
        }
       }
    }
    .other_orders{
        vertical-align: top;
        width: 245px;
        height: 100%;
        display: inline-block;       
        
        .orders{
            width:100%;
            border: 1px solid #F2AC21;
            height: 357px;
            margin-bottom: 5px;
            padding:20px 5px;
            .order div{
                display: flex;
                justify-content: space-between;
            }
        }
        .payment{
            border: 1px solid #F2AC21;
            height: 122px;
            padding: 10px;
            div{
                font-size: 18px;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
.actions{
    position: absolute;
    right:0;
    z-index: 10;
    top:725px;
    .order_button{
        display: inline-block;
        position: relative;
        width: 140px;
        height: 122px;
        margin-right: 43px;
        img{
            position: absolute;
            z-index:10;
            width: 101px;
            height: 98px;
            left: 17px;
        }
        button{
            position: absolute;
            left:0;
            width: 100%; 
            bottom:0;
            height: 47px;
            box-shadow: 3px 3px 3px #0000008D;
            border: 4px solid #96C440;
            border-radius: 21px;
            background-color: white;
            text-shadow: 1px 1px 0px #000000;
            font-size: 18px;
            outline: 0;
        }
    }
    .cancel_button{
        display: inline-block;
        position: relative;
        bottom: 15px;
        width: 92px;
        height: 94px;
        margin-right: 30px;
        img{
            position: absolute;
            z-index:10;
            width: 66px;
            height: 65px;
            top:0px;
            left:9px
        }
        button{
            position: absolute;
            left:0;
            width: 100%; 
            bottom:0;                    
            height: 47px;
            box-shadow: 3px 3px 3px #0000008D;
            border: 4px solid #F2AC21;
            border-radius: 21px;
            text-shadow: 1px 1px 0px #000000;
            font-size: 18px;
            outline: 0;
        }
    }
}