<div class="cash-wrapper">
    <!--<div class="left-container">
        <div class="title">
            Thank you, your payment is done successfully. When your order will ready you'll receive message so please fill the below fields
        </div> 
        <div class="input">
            <input type="text" class="email" placeholder="Email" readonly  (click)="selectInp('email')" [value]="email" >
            <span class="or">OR</span>
            <input type="text" class="phone" placeholder="Phone" readonly  (click)="selectInp('phone')" [value]="phone">
        </div>
        <div style="color: #5E5B58;">
            <button class="close-button" (click)="close()">Close</button>
            <button class="submit-button" (click)="submit()">Submit</button>
        </div>        
    </div> -->
    <div class="header">Thank you for purchase. please remember the code below and make your payment with that code</div>
</div>


