
<div class="cash_wrapper">
    <div class="arrow">
        <img src="usr_kiosk/assets/images/arrow-left.svg" alt="">
    </div>
    <div class="cash_pay_wrapper">
        <div class="first_text">You Paid ${{paid}}</div>
        <div class="second_text">Please Collect Your ${{getPayout(paid, price)}} Change</div>
        <div>Would You Like to Receive a Text When Your Order is Ready to Pick-Up?</div>
        <div class="btns">
            <button>Yes</button>
            <button>no</button>
        </div>
    </div>
</div>