.wrapper{
    height: 100%;
    width:100%;
    position: absolute;
    overflow: auto;
    .prod_category{
        width: 246px;
        background: #000000 0% 0% no-repeat padding-box;
        box-shadow: 4px 4px 4px #000000E6;
        border: 10px solid #F2AC21;
        .categories{
            color:white;
            height:178px;
            margin-bottom:20px;
            font-size:18px;
            width: calc(100% - 20px);
            
            .category_title{
                position: relative;
                vertical-align: top;
                margin: auto;  
                text-align: center;
              div{
                position: absolute;
                width: 100%;
                height: 100%;
                top:70px;
                
              }
              .category_arrow{
                position: relative;
                svg{
                    position: absolute;
                    bottom: -73px;
                    right:0
                }
            }
            }
            
            .arrow{
                width: 94px;
                height: 42px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 3px 3px 4px #000000;
                opacity: 1;
            }
            .products{
                position: absolute;
                display:inline-block;
                color:black;
                left:250px;
               width:calc(100% - 255px);
               white-space: nowrap;
               overflow: auto;
                .product{
                    display: inline-block;
                    width: 170px;
                    height:180px;
                    margin:0 20px 20px 0;
                    vertical-align: top;
                    .image{
                        overflow: hidden;
                        width:170px;
                        height: 110px;                        
                        vertical-align: top;
                        margin: auto;
                        img{
                            object-fit: contain;
                            overflow: hidden;
                            width:100%;
                            height: 100%;
                        }
                    }
                    .custom_prod_title,.custom_prod_speciality{
                        margin-top: 5px;
                        font-size: 16px;
                        white-space: normal;
                        padding:0 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align:center;
                       
                        
                    }
                    .sizable_prices{
                        margin-top: 5px;
                        padding:0 10px;
                        font-size: 14px;
                        display: flex;
                        justify-content: space-between;
                    }
                   
                    .small, .large{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                      
                        .incr{
                            
                            width:47px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            .plus-sign{
                                position: relative;
                                div{
                                    position: absolute;
                                    display: inline-block;
                                    top:-4px;
                                    left: 4px;
                                    width: 37px;
                                    height: 9px;
                                    border-radius: 5px;
                                    background-color: #96C440;
                                    box-shadow: 3px 3px 7px #000000;
                                    &:nth-child(2){
                                        transform: rotate(90deg);
                                        box-shadow: 3px -3px 7px #000000;
                                        
                                    }
                                }
                            }
                            
                            
                        }
                        .data{
                            border:1px solid #F2AC21;
                            width: 77px;
                            height: 60px;
                            padding:8px 0;
                            font-size:18px;
                            border-bottom: 0;
                        }
                        .decr{
                            width:47px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .minus-sign{
                                width: 37px;
                                height: 9px;
                                border-radius: 5px;
                                background-color: #f25a21;
                                box-shadow: 3px 3px 7px #000000;
                            }

                        }
                    }
                    .small{

                        .decr{
                            .minus-sign{
                                width: 28px;
                                height: 5px;
                                box-shadow: 3px 3px 5px #000000;
                            }
                        }
                        .data{
                            border:1px solid #F2AC21;
                            height: 61px;
                            width:78;
                            border-top: 0;
                        }
                        .incr{
                            .plus-sign{
                                div{
                                    top:-4px;
                                    left: 9px;
                                    width: 28px;
                                    height: 5px;
                                    box-shadow: 3px 3px 5px #000000;
                                    &:nth-child(2){
                                        transform: rotate(90deg);
                                        box-shadow: 3px -3px 5px #000000;
                                        
                                    }
                                }
                            }
                            
                            
                        }

                    }
                    .prod_title{
                        width: 170px;
                        height: 49px;
                        text-align: center;
                        box-shadow: 3px 3px 3px #00000077;
                        border: 2px solid #F2AC21;
                        padding:8px;
                        border-radius: 5px;
                        opacity: 1;
                        font-size: 24px;
                    }
                }
            }

        }
    }
}

.wrapper::-webkit-scrollbar {display:none !important };
.products::-webkit-scrollbar {display:none !important };