.customize-wrapper{
    position:relative;
    width:100% ;
    height:calc(100% - 75px);
    font-weight:600;
  
    .header{
        height:75px;
        font-size:24px;
        padding-top:23px;
        color:#5E5B58;
        .col1{            
            display:inline-block;
            width:299px;
            text-align: center
        }
        .col2{
            display:inline-block;            
            width:calc(100% - 299px);
            text-align:center
        }
    }
    .ingredient-list{
        width:100%;
        position:absolute;        
        height:100%;
        overflow:auto;
        .ingredient{
            background-color:#F9F9F9;
            .ingredient-title{
                vertical-align:top;
                display:inline-block;
                text-align:center;
                width:299px;
                height:249px;
                font-size:30px;
                padding: 90px 0 0 34px;
                color:#5E5B58
            }
            .types{
                overflow:auto;
                white-space:nowrap;
                vertical-align:top;
                padding:22px 6px;
                display:inline-block;
                background-color:white;
                width:calc(100% - 299px);
                height:249px;
                border-bottom:1px solid #D8D8D8;
                .type-container.selected{
                    vertical-align: top;
                    border:4px solid #3CFF03;
                    border-bottom:0;   
                    .type-container-detail{
                        border:0;
                        background-color:#3CFF03;
                        .title {
                            text-decoration:unset;
                            color:#5E5B58;
                        }
                        
                    }
                    .type-container-img{
                        margin-bottom:14px;
                    }
                }
                .type{    
                    vertical-align:top; 
                    margin:0 24px;                    
                    display:inline-block;
                    height:200px;
                    width:200px;                                                
                    &-container{                        
                        &-img{
                            display:block;
                            width:100%;
                            height:110px;
                            object-fit:contain;
                            margin-bottom:18px
                        }
                        &-detail{
                            width:100%;
                            height:72px;
                            border:1px solid #D8D8D8;
                            border-radius:4px;
                            padding:15px 8px;
                            font-size:16px;
                           
                            
                            .title{
                                vertical-align:top;
                                display:inline-block;
                                width:132px;
                                height:38px;
                                text-align:center;
                                color:#0F6BD5;
                                text-decoration:underline;
                                div{
                                    white-space: nowrap; 
                                    overflow: hidden;
                                    text-overflow: ellipsis;     
                                }
                                
                            }
                            .price{
                                display:inline-block;                               
                            
                            }
                        }
                    }
                    &-selecting{
                        height:200px;
                        width:200px;
                        border:1px solid #D8D8D8;
                        border-radius:8px;
                        padding:8px;
                        .selecting-header{
                            font-size:14px;
                            color:#5E5B58;
                            .heading{
                                vertical-align:top;
                                display:inline-block;
                                width:148px;
                                margin-right:10px;
                                text-align:center;
                                white-space: nowrap; 
                                overflow: hidden;
                                text-overflow: ellipsis; 
                            }
                            .close{
                                width:24px;
                                text-align:center;
                                display:inline-block
                            }
                        }
                        .control-buttons button{
                            display:block;
                            width:100%;
                            background-color: transparent;
                            border:1px solid #F2AC21;
                            color:#F2AC21;
                            font-size:14px;
                            text-align:center;
                            padding:7.5px;
                            margin-top:7px;
                            border-radius:4px;
                            &[disabled]{
                                color:#D8D8D8;
                                border:1px solid #D8D8D8;
                            }

                        }         
                    }
                }
            }
        }
    }
}
.ingredient-list::-webkit-scrollbar {display:none !important };
.types::-webkit-scrollbar {display:none !important };