<div class="customize-wrapper">
    <div class="header">
        <div class="col1">Categories</div>
        <div  class="col2">Select Your Ingredients</div>
    </div>
    <div class="ingredient-list">
        <div class="ingredient" *ngFor='let ingredient of product?.ingredients;let ii = index'>
            <div class="ingredient-title">{{ingredient.title}}</div>
            <div class="types" >
                <div class="type " *ngFor='let type of ingredient.ingridientTypes;let ti = index' >
                    <div class="type-container" *ngIf="type?._id!==openTypeId" [ngClass]="type && type.selected?'selected':''" >
                        <img [src]="imgUrl+type.image" alt="" class="type-container-img" >
                        <div class="type-container-detail" (click)="openTypeSelecting(type._id)">
                            <div class="title" >
                                <div *ngIf="!type.selected">Add</div>
                                
                                <div>{{type.selected_qty | titlecase }} {{type.title}}</div>
                            </div>
                            <div *ngIf="type.selected&&type.selected_qty== ''&&!checkDefault(type._id,ingredient)" class="price">$ {{type.price}}</div>
                            <div *ngIf="type.selected &&type.selected_qty=='double'" class="price">$ {{type.double_price}}</div>
                            <div *ngIf="type.selected &&type.selected_qty=='light'" class="price">$ {{type.light_price}}</div>
                            <div *ngIf="checkDefault(type._id,ingredient)&&type.selected_qty== ''" class="price">$ 0</div>
                        </div>
                    </div>   
                    <div class="type-selecting" *ngIf="type?._id===openTypeId" >
                        <div class="selecting-header">
                            <div class="heading">
                                Add {{type.title}} 
                            </div>
                            <div class="close" (click)="openTypeId=''">
                               <i class="fal fa-times"></i>
                            </div>                            
                        </div>
                        <div class="control-buttons">
                            <button *ngIf='type.price!==null' (click)="addProduct('',type,ingredient,ti)" [disabled]="type.selected &&type.selected_qty==''">Yes 
                                <span *ngIf="type.selected_qty">(${{type.normal_price}})</span>
                            </button>
                            <button (click)="deleteItem(type,ingredient,ti)" [disabled]="!type.selected">Delete 
                                <span *ngIf="type.selected">(-${{type.price}})</span>
                            </button>
                            <button *ngIf='type.light_price||type.light_price>=0' (click)="addProduct('light',type,ingredient,ti)" [disabled]="type.selected &&type.selected_qty=='light'">Light
                                <span *ngIf="type.selected_qty!='light'">(${{type.light_price}})</span>
                            </button>
                            <button *ngIf='type.double_price||type.double_price>=0' (click)="addProduct('double',type,ingredient,ti)" [disabled]="type.selected &&type.selected_qty=='double'">Double
                                <span *ngIf="type.selected_qty!='double'">(${{type.double_price}})</span>
                            </button>
                        </div>
                    </div>                 
                </div>
            </div>           
        </div>       
    </div>    
</div>