<div class="customize-wrapper">
    <div class="header">
        <div class="col1">Categories</div>
        <div  class="col2">Select Your Ingredients</div>
    </div>
    <div class="ingredient-list">
        <div class="ingredient" *ngFor='let ingredient of product?.ingredients;let ii = index'>
            <div class="ingredient-title">{{ingredient.title}}</div>
            <div class="types" >
                <div class="type " *ngFor='let type of ingredient.types;let ti = index' >
                    <div class="type-container" *ngIf="type?._id!==openTypeId" [ngClass]="type && type.selected?'selected':''" >
                        <img [src]="imgUrl+type.image" alt="" class="type-container-img">
                        <div class="type-container-detail" (click)="openTypeSelecting(type._id)">
                            <div class="title" >
                                <div *ngIf="!type.selected">Add</div>
                                <div *ngIf="type.selected"><span *ngIf="type.selected_qty==0.5">Light</span><span *ngIf="type.selected_qty==2">Double</span></div>
                                <div>{{type.title}}</div>
                            </div>
                            <div class="price">$ {{type.price}}</div>
                        </div>
                    </div>   
                    <div class="type-selecting" *ngIf="type?._id===openTypeId" >
                        <div class="selecting-header">
                            <div class="heading">
                                Add {{type.title}} 
                            </div>
                            <div class="close" (click)="openTypeId=''">
                               <i class="fal fa-times"></i>
                            </div>                            
                        </div>
                        <div class="control-buttons">
                            <button (click)="addProduct('normal',type,ingredient)" [disabled]="type.selected &&!type.selected_qty">Yes 
                                <span *ngIf="type.selected_qty">(${{type.normal_price}})</span>
                            </button>
                            <button (click)="deleteItem(type._id,ii,ti)" [disabled]="!type.selected">Delete 
                                <span *ngIf="type.selected">(-${{type.price}})</span>
                            </button>
                            <button (click)="addProduct('light',type,ingredient)" [disabled]="type.selected &&type.selected_qty==0.5">Light
                                <span *ngIf="type.selected_qty!='light'">(${{type.light_price}})</span>
                            </button>
                            <button (click)="addProduct('double',type,ingredient)" [disabled]="type.selected &&type.selected_qty==2">Double
                                <span *ngIf="type.selected_qty!='double'">(${{type.double_price}})</span>
                            </button>
                        </div>
                    </div>                 
                </div>
            </div>           
        </div>
        
    </div>
    
</div>