<div class="cash-wrapper">
        <div class="left-container">    
            <div style="margin-bottom:6px">
                <button class="back-button" (click)="goBack()"><i  class="far fa-long-arrow-alt-left"></i> &nbsp;&nbsp;&nbsp;Back</button>
            </div>   
            <div class="title">
                    Please insert card or tap for Apple Pay, Samsung Pay etc
            </div> 
            <div style="color: #5E5B58;">
                <button class="cancel-button" (click)="cancel()">Cancel</button>
                <div class="total-amount">Total amount: $ {{total}}</div>
            </div>            
        </div> 
    </div>
