.cash-wrapper{
    font-weight:600;
    font-family: roboto;
    font-style: normal;
    position:relative;
    background-color:#FFFFFF;
    height:314px;
    box-shadow: 0px 3px 15px #FFFFFF33;
    width:1200px;
    top:268px;
    margin:auto;
    padding:24px;
    border-radius:8px;
    .left-container{
        display:inline-block;
       
        .back-button{
            font-size: 16px;
            background-color: transparent;
            border:0;
            width: 84px;
            height: 44px;
            border-radius: 4px;
            color:#5E5B58;
            outline:0;
            .far.fa-long-arrow-alt-left{
                font-weight: bold;
                font-size:20px;
                color:#5E5B58
            }
        }    
        .title{
            margin:auto;
            text-align: center;
            font-size:24px;
            color:#5E5B58;
            margin-bottom: 138px;
        }
        .total-amount{
            display:inline-block;
            color:#5E5B58;           
            margin-left: 800px;
            font-size: 16px;
            width:150px;
        }
        .insert-amount{
            width: 120px;
            height: 44px;
            font-size: 18px;
            text-align:center;
            border:1px solid #9B9B9B;
            outline:0
        }
        .cancel-button{
            display:inline-block;
            background: #FFFFFF ;
            border:0;
            box-shadow: 0px 3px 15px #00000012;
            border-radius: 100px;
            width: 150px;
            height: 44px;
            text-align:center;
            color:#5E5B58;
            outline:0;
        }
    } 
    .select-pay{
        display:inline-block;
        vertical-align: top;
        margin-left:24px;
        border: 1px solid #F2AC21;
        width: 200px;
        height: 262px;
        padding:24px;
        text-align:center;    
        .cash{
            width:152px;
            height:44px;
            background-color: #9B9B9B;   
            margin-bottom:82px;     
            color:white;
            padding:10px    
        }   
        .pay-button{
            height:88px;
            width:88px;
            border-radius:50%;
            border: 2px solid #F2AC21;
            background-color:#3CFF03;
            color:#5E5B58;
            font-size:16px;
            outline:0
        }
       
    }
    
    
}