
<div class="wrapper">
    
    <div class="wrapper-product">
        <div class="product-title">{{product.title}}</div>
        <div class="product">            
            <img [src]="imgUrl+product.image" alt="" class="product-image">            
        </div>        
        <div class="product-detail">
            <div class="ingredients">
                <div class="ingredient" *ngFor="let t of product.defaults">
                    <i class="fal fa-times" (click)="removeIngredient(t)"></i>
                    <img [src]="imgUrl+t.image" alt="">
                </div>  
                <div class="ingr-text" *ngIf="product.defaults?.length">Our Artisan Grilled Chicken Sandwich starts with span<span *ngFor="let t of product.defaults">{{t.title}}, </span></div>             
            </div>
            <div style="display: inline-block; margin:0 34px; position: relative; ">
                <div class="order" (click)="order(product)">
                    <div style="width:76px;height:76px;overflow:hidden">Order {{product.title}}</div>    
                    <div> ${{product.price}}</div>            
                </div>
                <div class="cancel" [routerLink]="['/menu']">Cancel</div>
            </div>
           
        </div>      
    </div>
    <div class="ingr-head">
        <div >Categories</div>
        <div>Select Your Ingredients</div>
    </div>
    <div #wrapper class="wrapper-ingredient">
        <div class="top-button" (click)="gotoTop()">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="32" viewBox="0 0 14 32">
                <defs>
                    <style>.a{fill:#5e5b58;}</style>
                </defs>
                <g transform="translate(14) rotate(90)">
                    <path class="a" d="M.185,143.579,7.3,137.2a.6.6,0,0,1,.648-.091.529.529,0,0,1,.352.529v4.084H31.407a.581.581,0,0,1,.426.164A.564.564,0,0,1,32,142.3v3.5a.562.562,0,0,1-.167.419.582.582,0,0,1-.426.164H8.3v4.084a.549.549,0,0,1-.352.529.584.584,0,0,1-.648-.109L.185,144.435A.591.591,0,0,1,0,144,.572.572,0,0,1,.185,143.579Z" transform="translate(0 -137.052)"/>
                </g>
            </svg>
        </div>
        <div *ngFor="let ingredient of product.ingredients" class="ingredient-list">
            <div class="ingredient-item">                
                <div class="ingredient-text">{{ingredient.title| uppercase}}</div>
            </div>
            <div class="type-wrapper">
                <div class="type" *ngFor="let type of  ingredient.ingredient_types" >
                    <div class="type-unselected" *ngIf="!opentTab ||type._id!=tabId" >
                        <img [src]="imgUrl+type.image" alt="" class="type-unselected-image">
                        <div class="action-cntrol" *ngIf="!getDefault(type._id)">
                            <div class="action-cntrol-title" (click)='addIngredientTab(type._id)'>
                                <div style="vertical-align: top">Add</div>
                                <div style="vertical-align: top">{{type.title}}</div>
                            </div>
                            <div>$ {{type.price}}</div>
                        </div>
                        <div class="action-cntrol1" *ngIf="getDefault(type._id)">
                            <div class="action-cntrol1-title" (click)='addIngredientTab(type._id)'>
                                <div style="vertical-align: top">{{type.quantity?type.quantity=="X2"?"Double":type.quantity=="X0.5"?"Light":"Normal":"Normal"}}</div>
                                <div style="vertical-align: top">{{type.title}}</div>
                            </div>
                            <div style="color:white">$ {{type.price}}</div>
                        </div>
                    </div>
                    <div class="type-select" *ngIf="opentTab &&type._id==tabId">
                        <div style="display: flex; justify-content: space-between; font-size: 14px; margin: 8px; text-align: center">
                            <div style="width:170px; height: 17px; overflow: hidden;">Add {{type.title}}</div>
                            <div (click)="closeTab()"><i class="fal fa-times"></i></div>
                        </div>
                        <button class="select-button" [disabled]='getDefault(type._id)' (click)="addIngredient(type,'normal')">Yes</button>
                        <button class="select-button" [disabled]='!getDefault(type._id)' (click)="removeIngredient(type)">Delete</button>
                        <button class="select-button" [disabled]='getDefault(type._id)' (click)="addIngredient(type,'light')">Light</button>
                        <button class="select-button" [disabled]='getDefault(type._id)' (click)="addIngredient(type,'double')">Double</button>
                    </div>
                </div>
            </div>             
        </div>
        <div class="bottom-button" (click)='gotoBottom()'>            
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="32" viewBox="0 0 14 32">
                    <defs>
                        <style>.a{fill:#5e5b58;}</style>
                    </defs>
                    <g transform="translate(0 32) rotate(-90)">
                        <path class="a" d="M.185,7.472,7.3,13.853a.6.6,0,0,0,.648.091.529.529,0,0,0,.352-.529V9.332H31.407a.581.581,0,0,0,.426-.164A.564.564,0,0,0,32,8.749v-3.5a.562.562,0,0,0-.167-.419.582.582,0,0,0-.426-.164H8.3V.582A.549.549,0,0,0,7.944.053.584.584,0,0,0,7.3.162L.185,6.616A.591.591,0,0,0,0,7.054.572.572,0,0,0,.185,7.472Z"/>
                    </g>
                </svg>
                    
            </div>    
    </div>


        
</div>
     