.wrapper{   
    .header-text{
        position: relative;
        z-index: 12;
        font-family: roboto;
        font-weight: bold;
        font-size:60px;
        outline: 0;
        text-align:center;
        color:#E81E1E;
        margin:15px 0 
    }
    .back-img{
        object-fit: fill;
        position:fixed;
        display: block;
        height:100%;
        width:100%;
        top:0;
        left:0
        
    }
    background-color: white;
    &:focus{
        outline: 0;
    }
}
